header {
  text-align: center;
}

main {
  text-align: center;
}

#root {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#account-form {
  display: flex;
  flex-direction: column;
}

#account-form input {
  padding: 5px;
  margin: 5px;
}

#nav-link {
  padding: 10px;
}
