header {
  text-align: center;
}

main {
  text-align: center;
}

#root {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#account-form {
  display: flex;
  flex-direction: column;
}

#account-form input {
  padding: 5px;
  margin: 5px;
}

#nav-link {
  padding: 10px;
}

#posts-container {
  width: 65%;
  margin: auto;
}

.listed-post {
  text-align: left;
}

.add-post-form {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.add-post-button {
  position: fixed;
  width: 5em;
  height: 5em;
  right: 15px;
  bottom: 15px;
}
.post-form {
  padding-bottom: 15px;
  padding-top: 15px;
}
